<div>
	<label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="search" placeholder="{{'Search' | translate}}" ng-model="searchInstances">
	</label>
</div>

	
<ion-content class="todolist">	
	<ion-list>	
		
		<ion-item ng-repeat="model in collection.models | instancesFilter:searchInstances | orderBy:'-createdAt'">

		<div class="row">
			<div class="col">
    			<button class="button button-icon ion-ios-people customIcon nocursor">
    			</button>
				
			</div>
			<div class="col col-90" >
				<h2>{{model.name}}</h2>
				<p>{{model.nextHandler}}, {{model.createTime | date: 'dd-MM-yyyy'}}
			  	</p>
			</div>
		</div>
	
		</ion-item>
	</ion-list>
	<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
	</ion-infinite-scroll>
</ion-content>

