<div>
	<label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="search" placeholder="{{'Search' | translate}}" ng-model="searchInstances">
	</label>
</div>

<ion-content class="todolist">	
  <ion-list >
	<ion-item 
	ng-repeat="model in collection.models | instancesFilter:searchInstances | orderBy:'-createdAt'" 
	ng-click="opendiagram(model)"
	item="item" class="item-avatar">
          
		<i class="item-image icon-circle activitiIcon ion-ios-people"></i>
		<h2>{{model.name}}</h2>
		<p>{{model.startTime | date: 'dd-MMM HH:mm'}}<span ng-if="model.endTime!==null">, {{model.endTime | date: 'dd-MMM HH:mm'}}</span></p>

		<ion-option-button class="button button-balanced icon-left ion-android-more-horizontal" on-tap="$event.stopPropagation(); detail(model);">Detail</ion-option-button>	
	</ion-item>
  </ion-list>
  <ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
  </ion-infinite-scroll>
</ion-content>	