
	
<ion-content class="">	
	<ion-list>
		<ion-item class="processdeflist" ng-repeat="model in collection.models"  on-tap="$event.stopPropagation(); read('{{model.id}}');" ng-class-odd="'odd'" ng-class-even="'even'">
			<div class="row">
				<div class="col col-75">
					<span class="name">{{model.name}}</span><br>
      				<span class="desc"><i class="icon ion-document"></i>&nbsp;v{{model.version}}&nbsp;&nbsp;&nbsp;<i class="icon ion-clock"></i>&nbsp;Deployed {{ model.deploymentDetails.deploymentTime | contextualDate }}
				</div>
  				<div class="col text-right">
			    	<button class="button button-positive" on-tap="$event.stopPropagation(); startProcess(model);">Start</button>			    	
			    </div>
			</div>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
	</ion-infinite-scroll>	
</ion-content>
