
	
<ion-content class="">	
	<ion-list>	
		<ion-item class="processdeflist" ng-repeat="model in collection.models"  on-tap="$event.stopPropagation(); read('{{model.id}}');">				
			<div class="col col-25 listview">{{model.id}}</div>
			<div class="col col-75 listview">{{model.name}}</div>
			<ion-option-button class="button button-positive icon-left ion-edit" on-tap="$event.stopPropagation(); startProcess(model);">Start</ion-option-button>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
	</ion-infinite-scroll>	
</ion-content>
