<div>
	<label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="search" placeholder="{{'Search' | translate}}" ng-model="searchDefinitions">
	</label>
</div>
	
<ion-content class="todolist">	
  <ion-list >
	<ion-item ng-if="!model.definition.suspended && model.createdBy != null" 
	ng-repeat="model in collection.models | definitionsFilter:searchDefinitions | orderBy:['name','-version']" 
	ng-click="opendiagram(model)"
	item="item" class="item-avatar">
          
		<i class="item-image icon-circle activitiIcon ion-wrench"></i>
		<h2>{{model.definition.name}}</h2>
		<p>v{{model.definition.version}}, {{ model.deploymentTime | date: 'dd-MM-yyyy HH:mm'}}, {{ model.createdBy}}</p>
			
		<ion-option-button class="button button-balanced icon-left ion-checkmark" on-tap="$event.stopPropagation(); startProcess(model);">Start</ion-option-button>	
	</ion-item>
  </ion-list>
  <ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
  </ion-infinite-scroll>
</ion-content>	