<div>
	<label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="search" placeholder="{{'Search' | translate}}" ng-model="searchTodos">
	</label>
</div>
<ion-content class="todolist">	
	<ion-list>
	<ion-item ng-repeat="model in collection.models | todosFilter:searchTodos  "  >
		<div class="row">
			<div class="col">
    
    			<a class="icon-circle nocursor manualIcon" 
    				ng-if="model.type==undefined || model.type == 'manual'"
    				>
          			<i class="ion-ios-person"></i>
          		</a>
          		
    			<a class="icon-circle activitiIcon"
    				ng-if="model.type!==undefined && model.type != 'manual' && model.progress < 100"
    				ng-click="opendiagram(model)">
          			<i class="ion-ios-people"></i>
          		</a>
          		<a class="icon-circle nocursor activitiEndIcon" 
    				ng-if="model.type!==undefined && model.type != 'manual' && model.progress == 100">
          			<i class="ion-ios-people"></i>
          		</a>

			</div>
			<div class="col col-80" ng-click="openurl(model);">
				<h2><span  ng-if="model.project != null">{{model.project}} - </span>{{model.task}}</h2>
				<p>{{model.ownedBy.username}}<span  ng-if="model.createdAt != null">,</span> {{model.createdAt | date: 'dd.MM.yyyy' }}
			  	</p>
			</div>
		</div>
		<ion-option-button ng-if="model.type!==undefined && model.type != 'manual' && model.progress < 100" class="button button-balanced icon-left ion-checkmark" on-tap="$event.stopPropagation(); completeTask(model);">{{'complete' | translate}}</ion-option-button>
		<ion-option-button ng-if="model.type==undefined || model.type!==undefined && model.type == 'manual'" class="button button-positive icon-left ion-edit" on-tap="$event.stopPropagation(); edit(model);">{{'edit' | translate}}</ion-option-button>
		<ion-option-button class="button button-assertive icon-left ion-trash-b" on-tap="$event.stopPropagation(); delete(model);">{{'delete' | translate}}</ion-option-button>
	</ion-item>
	</ion-list>
	<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
	</ion-infinite-scroll>	
</ion-content>