<ion-header-bar class="item-input-inset">
  <button class="button button-icon button-clear ion-navicon button-stable" menu-toggle="left"></button>
    <h1 class='title'> 
    	<span ng-if="progress == '0' && sortBy == 'createdAt DESC'">{{'mytask' | translate}}</span>
    	<span ng-if="progress == '0' && sortBy != 'createdAt DESC'">{{'mytask' | translate}}</span>
    	<span ng-if="progress != '0'">{{'compledtask' | translate}}</span>
    </h1>
  <button class="button button-clear button-stable icon ion-android-more-horizontal" ng-click="popover.show($event)"></button>  
</ion-header-bar>

<ng-include src="'templates/todo/item.html'"></ng-include>